body{
	background-color:lightgreen;
}
  #main
  {
   position:relative;
   border: 2px dashed green;
   background-color:white;
   color:black;
   font-family:verdana;
   padding:0 10px 30px 20px;
   margin-left :30px;
   margin-right:30px;
   #width:800px;
   float:right;	
  }
  #main  #first{
     font-size:20px;
	 font-family:serif;	
   }
   #main p{
	font-size:15px;
	font-family:verdana;
     word-spacing:2px;
     line-height:25px;
	 }
	 #main #footer{
		float:right;
	}
	#main #date{
		float:right;
	}